
<link rel="stylesheet" type="text/css" href="src/views/mine/mine.css"/>

<div class="mine">
	<header>
		<!-- 签到 -->
		<div class="qd">
			<span class="icons-px i-b-sign"></span>
			<p>签到</p>
		</div>
		
		<!-- 资料~ -->
		<div class="zl">
			<!-- 头像 -->
			<p class="tx">
				<span class="tx1"></span>
			</p>
			<!-- 昵称 -->
			<p class="nc">
				<span>公子言歌</span>
				<span class="nc1"></span>
			</p>
			<!-- 麻豆 -->
			<p class="ld">
				<span>辣豆</span>
				<span class="ld1"></span>
			</p>
		</div>
	</header>

	<!-- 导航 -->
	<nav>
		<!-- 我的订单 -->
		<div class="wddd">
			<span class="span1"></span>
			<span class="span2">我的订单</span>
			<span class="span3">查看全部订单</span>
		</div>
		<div class="nav">
			<section>
				<span></span>
				<p></p>
			</section>
		</div>
	</nav>



</div>